/* Colors */
$green: #5ABB47;
$blue: #075091;
$off-blue: #455c73;
$soft-blue: #498af3;
$white: #fff;
$gray: #808080;
$off-blue-gray: #85919e;
$off-gray: #b8c4d1;
$light-gray: #f3f6f9;
$dark-gray: #313941;
$sea-green: #3cb878;
$red: #f48488;
$black: #000;
$off-green: #82ca9c;
$blue-g-start: #478BF5;
$blue-g-end: #00BDF4;
$purple-g-start: #A386BE;
$purple-g-end: #F299BF;
$orange-g-start: #F06D7C;
$orange-g-end: #EF6320;
$gray-btn: #e8ebef;
$blue-add-col: #2196F3;
$red-remove-col: #f44336;
$tap-gray: #BABFC5;
$orange: #FEAB5D;
$dark-red: #F11C25;
$red-notifications: #FF4C13;
$error-color: #fa1828;
$footer: #a6b8c7;
$dark-gray :#0f0f10;
//Grid variables
$break-large: 1200px;
$cborder-color : #efefef ;
// chat color
$header-chat-color : #164e6e ;
$chat-body:#e4ebf3 ;
$sender-color:#94c4e0 ;