.conference {
  label {
    color: gray;
  }
  .services {
    margin-top: 23px;
  }

  span {
    margin-bottom: 50px;
  }
  .to-btn {
    width: 100%;
  }
  .addCustom {
    margin-top: 20px;
    margin-left: 30px;
    width: 150px;
  }
  .row {
    #recivers {
      background: #e8ebef;
      color: #555;
      padding: 10px;
      border: 0;
      height: 37px;
      box-shadow: none;
    }
    textarea {
      border: 0;
    }
    .snd {
      width: 100%;
    }

  }

  .btn-default {
    background-color: #bdc8d4;
  }
  .modal-body {
    .row {
        margin-bottom: -20px;
        .left{
            ul{
            position: absolute;
            top: 50px;
            left: 46px;

            }
           
        }
      .right {  
        clear: both;
        float: right;
        margin-bottom: 20px;
          ul{
            position: relative;
            top: 35px;
              left: 149px;
          }
      }
        
      span {
        label {
          color: #abb8c4;
        }
      }
      padding-left: 10px;
      padding-right: 10px;
      label {
        padding-left: 10px;
        padding-right: 10px;
      }
        .check-all-lbl{
            margin-left: 335px;
           
        }
      .info {
        width: 100%;
        display: inline-block;
        padding-left: 10px;
        margin-left: 335px;
         
        label, h4 {
          padding-left: 15px;
          padding-right: 15px;
        }
          label{
              font-size: 22px;
          }
        h4 {
          margin-left: 67px;
           
            font-weight: bold;
            color: $off-gray;
        }
      }
      img {
        float: left;
      }
      .glyphicon {
        float: right;
        padding: 20px
      }
      .glyphicon-ok {
        float: right;
      }
      .glyphicon-star-empty {
        float: left;
      }
    }
      .receivers{
          
            margin-top: 93px;
          .agincies-premisions{
              .checkbox-wrapper{
                  .rounded-checkbox{
                      label{
                          height: 25px;
                      }
                  }  
              }
          }
        }
  }
    .checkbox-new{
        height: 42px !important;
    }
    .lbl-pos{
        padding-top: 30px;
    }
    .lbl-width{
        width: 510px !important;
    }
    .rece-pos{
              margin-top: 30px !important;
              margin-left: -10px;
          }
    .row-pos{
        margin-bottom: 0 !important;
        
    }
  .modal-content {
    .row {
      label {
        color: #000;
      }
      .upload-image {
        background: url('../images/agency/upload-image.png') no-repeat center center;
        background-size: contain;
        float: left;
        width: 65px;
        height: 65px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
      }
      img {
        display: inline;
        margin: 0 auto;
        width: 100%;
        height: 100%;
      }
    }
    .modal-header {
      background: -webkit-linear-gradient(#01bef3, #428ff3);
      /* For Safari 5.1 to 6.0 */

      background: -o-linear-gradient(#01bef3, #428ff3);
      /* For Opera 11.1 to 12.0 */

      background: -moz-linear-gradient(#01bef3, #428ff3);
      /* For Firefox 3.6 to 15 */

      background: linear-gradient(#01bef3, #428ff3);
      /* Standard syntax (must be last) */

      color: $white;
    }
  }
  .modal-footer {
    display: -webkit-box;
    clear: both;
    .btn-primary {
      background-color: #498af3;
      color: $white;
      width: 100px;
    }
  }
  .receiver_name {
      width: 450px;
    .selected {
      background-color: green;
    }
  }
  .info {
     transform: translate(-55%, -58%);
    img {
      width: 10%;
      height: 10%;

    }
  }

  .checkbox-wrapper {
    height: 85px;
    .rounded-checkbox.check-all {
      left: 15%;
    }
    .rounded-checkbox {
      transform: translate(-55%, -58%);
    }
  }
}

