.passwordForget{
  .bg-gray {
    min-height: 750px;
    form {
      text-align: center;
      margin-left: 25%;
      margin-right: 25%;
    }
    .shadow {
        margin-top: 20%;
        background: $white;
    }
    .login {
      button[type="submit"] {
        font-size: 18px;
      }
    }
    input {
      width: 60%;
      height: 40px;
      border: none;
      @include border-radius(10px, 10px, 10px, 10px);
      background: $gray-btn;
      margin-left: 10px;
      padding: 5px;
    }
    .row {
      width: 100%;
      label {
        color: $off-blue;
        font-size: 18px;
        margin-bottom: 0px;
        padding: 5px;
        vertical-align: bottom;
        line-height: 30px;
      }
    }
  }
}